@media (max-width: 1250px) {
  .swiper-btn {
    display: none;
  }
}

@media (max-width: 1100px) {
  .header-logo-link {
    margin-right: 30px;
  }

  .header-logo-link {
    display: none;
  }

  .header-logo-tablet {
    display: block;
  }

  .container-playlists {
    flex-direction: column;
  }

  .playlists-form-block {
    display: flex;
  }

  .playlists-block-left {
    max-width: 100%;
  }

  .playlists-form-block__left {
    margin-right: 20px;
  }

  .playlists-info-minors {
    max-width: 100%;
  }

  .playlists-list__item {
    flex: calc((100% / 3) - 30px);
    flex-direction: row;
  }

  .playlists-card {
    padding: 0;
    padding-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
  }

  .advertisement-img-new {
    background-image: url(../img/advertisement-new-img-tablet.svg);
  }

  .playlists-block-18 {
    display: none;
  }

  .playlists-form {
    border-bottom: none;
  }

  .playlists-block-18-tablet {
    display: block;
    border-top: 1px solid #D2D5DD;
  }

  .playlists-block-right {
    margin-bottom: 41px;
    padding: 0;
  }

  .playlists-block-left {
    margin: 0;
  }

  .playlists-form-block__left {
    margin: 0;
  }

  .playlists-form-block {
    margin-bottom: 10px;
  }

  .container-playlists {
    margin-bottom: 90px;
  }

  .advertisement-block-right {
    flex-basis: 60%;
  }

  .footer-block-right {
    flex-basis: 70%;
  }

  .playlists-form-block__left {
    margin-right: 30px;
  }
}

@media (max-width: 1000px) {
  .header-img-12 {
    display: none;
  }

  .ether-play,
  .header-nav-bottom {
    margin-right: 0;
  }

  .header-list-bottom__item:not(:last-child) {
    margin-right: 30px;
  }

  .header-nav-bottom {
    margin-right: 30px;
  }

  .hero-p {
    max-width: 539px;
  }

  .header-list-bottom {
    padding: 22px 0;
  }

  .ether {
    background-image: url(../img/hero-microphone-1024.svg);
  }

  .transfers-list__item {
    flex: calc((100% / 2) - 30px);
  }

  .transfers-block-left-none {
    display: block;
  }

  .transfers-block-left__block {
    max-width: 327.5px;
    max-height: 302.91px;
    width: 100%;
    height: 100%;
  }

  .transfers-block-left__block:not(:last-child) {
    margin-bottom: 30px;
  }

  .transfers-block-left-bottom {
    max-height: 302.91px;
    height: 100%;
  }

  .transfers-block-left-bottom {
    background-image: url(../img/transfers-microphone.jpg);
    background-repeat: no-repeat;
    background-position: left bottom 124px;
  }

  .transfers-block-left {
    background-image: none;
  }

  .transfers-link-archive {
    margin-top: auto;
  }
}

@media (max-width: 900px) {
  .forus-img-spiral {
    display: none;
  }

  .forus-img-dawn {
    margin: 0;
    margin-top: auto;
    margin-bottom: auto;
  }

  .header-list-top {
    margin-right: 37px;
  }

  .header-btn-search {
    margin-right: 22px;
  }

  .podcasts-list {
    margin-bottom: 60px;
  }

  .transfers-name-selector {
    display: block;
  }

  .guests-p-list {
    max-width: 536px;
  }

  .accordion-container {
    flex-basis: 67.7%;
  }

  .playlists-form-block__left {
    margin-right: 38px;
  }

  .advertisement-block-right {
    max-width: 395px;
  }

  .advertisement-svg-wave {
    max-width: 395px;
  }

  .container-advertisement {
    padding-bottom: 94px;
  }


  .forus-block-heading__text {
    max-width: 539px;
  }

  .swiper-container {
    margin-bottom: 36px;
  }

  .footer-container {
    margin-bottom: 98px;
  }

  .advertisement-block-right {
    flex-basis: 75%;
  }
}

@media (max-width: 855px) {
  .header-list-bottom__item:not(:last-child) {
    margin-right: 29px;
  }

  .header-nav-bottom {
    margin-right: 29px;
  }

  .header-logo-tablet {
    padding: 21px 15px 20px 15px;
  }

  .ether {
    padding-top: 68px;
  }

  .hero-p {
    margin-bottom: 21px;
  }

  .container-podcasts {
    padding-top: 88px;
  }

  .podcasts-block-img {
    flex-basis: 28%;
  }

  .podcasts-block-top {
    padding: 26px 33px 20px 31px;
  }

  .modal-window {
    left: 15px;
    right: 15px;
    padding: 60px 40px;
  }
}

@media (max-width: 852px) {
  .header-list-top__item:not(:last-child) {
    margin-right: 37px;
  }

  .header-list-bottom__item:not(:last-child) {
    margin-right: 20px;
  }

  .podcasts-list__item {
    flex: 100%;
  }

  .podcasts-block-img {
    flex-basis: 15%;
  }

  .playlists-form-radio:not(:last-child) {
    margin-bottom: 34px;
  }

  .playlists-list__item {
    flex: calc((100% / 2) - 30px);
  }

  .playlists-block-left {
    margin-bottom: 20px;
  }

  .advertisement-content {
    flex-direction: column;
  }

  .advertisement-block-left {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }

  .advertisement-block-right {
    max-width: 100%;
  }

  .guests-profile-img {
    max-height: 220px;
  }

  .guests-profile-content__p {
    max-width: 398px;
  }

  .guests-mame-list__item {
    margin-bottom: 28px;
  }

  .ac.is-active .ac-panel {
    padding-bottom: 0;
  }

  .accordion-container {
    margin-bottom: 50px;
  }

  .container-guests {
    padding-bottom: 90px;
  }

  .accordion-container {
    flex-basis: 67%;
  }

  .advertisement-img-new {
    background-image: url(../img/advertisement-new-img.svg);
  }

  .container-advertisement {
    padding-top: 52px;
  }

  .advertisement-h2 {
    margin-bottom: 45px;
  }

  .advertisement-block-right {
    background-image: url(../img/forus-spiral-img-768.svg);
  }

  .advertisement-p {
    max-width: 550px;
  }
}

@media (max-width: 850px) {
  .guests-profile {
    flex-basis: 50.5%;
  }
}

@media (max-width: 835px) {
  .transfers-block-left-bottom {
    background-position: left bottom 140px;
  }
}

@media (max-width: 800px) {
  .header-nav {
    display: none;
  }

  .burger {
    display: block;
  }

  .ether-play {
    display: none;
  }

  .header-list-bottom__item {
    margin: 0;
  }

  .header-list-bottom__item:not(:last-child) {
    margin-right: 0;
  }

  .header-list-bottom {
    justify-content: space-between;
  }

  .header-nav-bottom {
    margin-right: 29px;
    width: 100%;
  }

  .ether {
    background: none;
  }

  .header-btn-play-768 {
    display: block;
  }

  .burger--visible {
    transform: translateY(0%);
  }

  .header-menu-search {
    left: 35%;
  }
}

@media (max-width: 750px) {
  .transfers-blocks {
    flex-direction: column;
    margin-bottom: 60px;
  }

  .transfers-block-left-bottom {
    display: none;
  }

  .transfers-block-left-bottom-768 {
    display: block;
    margin-left: auto;
    padding-top: 30px;
    border-top: 1px solid #E6E8EC;
  }

  .transfers-block-left-bottom-768__content {
    flex-direction: column;
    align-items: flex-start;
    max-width: 345px;
    min-height: 96px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 90px;
    background-image: url(../img/transfers-microphone-768.jpg);
    background-repeat: no-repeat;
  }

  .transfers-text-archive {
    display: block;
  }

  .transfers-link-archive {
    display: inline-block;
    margin: 0;
    margin-bottom: 8px;
    margin-right: auto;
  }

  .transfers-block-left {
    margin-bottom: 46px;
  }

  .transfers-block-left__block:not(:last-child) {
    margin: 0;
  }

  .transfers {
    margin-bottom: 28px;
  }

  .footer-container {
    flex-direction: column;
  }

  .footer-block-left {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 86px;
  }

  .footer-block-right-list {
    gap: 20px 172px;
  }

  .footer-block-right {
    max-width: 100%;
  }

  .footer-svg-you-768,
  .footer-svg-odn-768,
  .footer-svg-vk-768 {
    display: block;
  }

  .footer-svg-you,
  .footer-svg-odn,
  .footer-svg-vk {
    display: none;
  }
}

@media (max-width: 680px) {
  .quests-bloks {
    flex-direction: column;
  }

  .accordion-container {
    margin-right: 0;
  }
}

@media (max-width: 650px) {
  .podcasts-block-img {
    flex-basis: 21%;
  }

  .forus-block-heading {
    flex-direction: column;
  }

  .forus-block-heading__text {
    margin-right: 0;
    margin-bottom: 30px;
    max-width: 100%;
  }

  .forus-img-dawn {
    display: none;
  }

  .forus-img-768 {
    display: block;
  }

  .forus-img-spiral-768 {
    position: relative;
    right: 112px;
  }

  .forus-img-dawn-768 {
    position: absolute;
    right: 15px;
  }

  .forus-input-flex {
    flex-direction: column;
  }

  .header-menu-search {
    left: 30%;
  }
}

@media (max-width: 570px) {
  .forus-block-heading__text {
    margin-bottom: 22px;
  }

  .swiper-container {
    margin-bottom: 31px;
  }

  .footer-block-right-list {
    gap: 20px 172px;
  }

  .footer-block-right {
    max-width: 100%;
  }

  .header-menu-bottom {
    display: none;
  }

  .forus-img-spiral-768,
  .forus-img-dawn-768 {
    display: none;
  }
}

@media (max-width: 500px) {

  .h1-style-radio,
  .h1-style-w-wawe {
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
  }

  .h1-style-w-wawe {
    font-weight: 400;
  }

  .header-logo-mobile {
    align-items: center;
    justify-content: space-between;
  }

  .modal-btn-320 {
    display: block;
  }

  .modal-btn {
    display: none;
  }

  .burger-menu-bottom {
    display: block;
  }

  .burger-menu {
    flex-direction: column;
    background-image: none;
    padding: 0;
  }

  .burger-list {
    max-width: 250px;
    max-height: 188px;
  }

  .burger-nav {
    margin: 0;
  }

  .burger-menu__top {
    padding: 15px 30px 24px 30px;
  }

  .burger-menu-bottom {
    background: #ffffff;
    padding: 30px 32px;
  }

  .burger-list-right {
    margin: 0;
    justify-content: space-evenly;
  }

  .burger-list__item-right {
    margin: 0;
  }

  .burger-nav {
    width: 250px;
    height: 140px;
  }

  .burger-list-bottom__item {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
  }

  .burger-list-bottom {
    flex-wrap: wrap;
    max-height: 168px;
    gap: 32px 75px;
  }

  .burger-list-bottom__item {
    flex: calc(100% / 2);
  }

  .burger-list-bottom {
    flex-direction: column;
  }

  .burger-close {
    margin-bottom: 25px;
  }

  .header-top,
  .header-bottom {
    border-bottom: none;
  }

  .header-whats {
    display: block;
    border: 1px solid #E6E8EC;
  }

  .ether {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .podcasts-list__item:nth-child(n + 5) {
    display: none;
  }

  .header-btn-search {
    margin: 0;
  }

  .playlists-list__item {
    flex-direction: column;
  }

  .playlists-card {
    padding: 10px;
  }

  .playlists-form,
  .playlists-h2 {
    display: none;
  }

  .playlist-block-320 {
    padding-top: 16px;
    padding-left: 33px;
  }

  .playlist-block-320 {
    display: block;
  }

  .container-playlists {
    padding-top: 10px;
  }

  .playlists-h2,
  .playlists-h2-320 {
    margin-bottom: 19px;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
  }

  .playlist-genre-320 {
    display: block;
  }

  .playlists-card__h3 {
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
  }

  .playlists-card__songs {
    font-weight: 400;
    font-size: 9px;
    line-height: 9px;
  }

  .advertisement-img-new {
    background-image: url(../img/advertisement-new-img-tablet.svg);
  }

  .header-menu-search {
    left: 18%;
  }
}


@media (max-width: 450px) {
  .block-podcast {
    flex-direction: column;
  }

  .podcasts-block-1 {
    background: url(../img/podcasts-img-data-1.jpg), url(../img/podcasts-img-data-320-01.jpg);
  }

  .podcasts-block-2 {
    background: url(../img/podcasts-img-data-2.jpg), url(../img/podcasts-img-data-320-02.jpg);
  }

  .podcasts-block-3 {
    background: url(../img/podcasts-img-data-3.jpg), url(../img/podcasts-img-data-320-03.jpg);
  }

  .podcasts-block-4 {
    background: url(../img/podcasts-img-data-4.jpg), url(../img/podcasts-img-data-320-04.jpg);
  }

  .podcasts-block-5 {
    background: url(../img/podcasts-img-data-5.jpg), url(../img/podcasts-img-data-320-05.jpg);
  }

  .podcasts-block-6 {
    background: url(../img/podcasts-img-data-6.jpg), url(../img/podcasts-img-data-320-06.jpg);
  }

  .podcasts-block-7 {
    background: url(../img/podcasts-img-data-7.jpg), url(../img/podcasts-img-data-320-07.jpg);
  }

  .podcasts-block-8 {
    background: url(../img/podcasts-img-data-8.jpg), url(../img/podcasts-img-data-320-08.jpg);
  }

  .podcasts-block-img {
    background-position: left top;
    background-repeat: no-repeat, no-repeat;
    background-size: 10%, 100% 100%;
    flex-basis: none;
    flex-shrink: none;
    min-height: 72px;
    height: 100%;
  }

  .podcasts-list {
    gap: 30px;
  }

  .podcast-btn-play {
    display: none;
  }

  .podcast-btn-play-320 {
    display: block;
    width: 36px;
    height: 36px;
  }

  .podcasts-block-top {
    padding: 16px 16px 16px 16px;
  }

  .podcasts-block-top__right {
    margin-top: auto;
    margin-bottom: auto;
  }
}

@media (max-width: 400px) {
  .transfers-card {
    padding: 10px 8px 10px 10px;
  }

  .transfers-h3 {
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
  }

  .transfers-start-ether {
    font-weight: 400;
    font-size: 9px;
    line-height: 9px;
  }

  .transfers-link-more {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
  }

  .transfers-list__item {
    min-height: 149px;
  }

  .transfers-blocks {
    margin-bottom: 30px;
  }

  .transfers-block-left-bottom-768 {
    padding: 30px 32px 2px 32px;
  }

  .transfers-block-left-bottom-768__content {
    background-image: none;
    background-image: url(../img/transfers-microphone-320.jpg);
    flex-direction: column-reverse;
  }

  .transfers-text-archive {
    margin-bottom: 7px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
  }

  .transfers-link-archive {
    padding: 7.5px 29px;
  }

  .transfers {
    margin-bottom: 23px;
  }

  .guests-h2 {
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
  }

  .container-guests {
    padding: 56px 32px 32px 32px;
  }

  .guests-p-heading {
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
  }

  .guests-h2 {
    margin-bottom: 9px;
  }

  .guests-p-list {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
  }

  .guests-p-heading {
    margin-bottom: 1px;
  }

  .guests-p-list {
    margin-bottom: 28px;
  }

  .ac .ac-trigger::after {
    top: 12px;
    height: 26.25px;
    width: 26.25px;
  }

  .ac .ac-trigger::before {
    right: 8px;
    height: 10px;
    width: 10px;
  }

  .ac.is-active>.ac-header .ac-trigger::before {
    top: 22px;
  }

  .ac .ac-trigger {
    padding: 17.5px 60px 16px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
  }

  .ac .ac-trigger::before {
    top: 18px;
  }

  .guests-mame-list__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 110%;
  }

  .guest-list-social-svg-320 {
    display: block;
  }

  .guest-list-social-svg {
    display: none;
  }

  .guest-list-social__item {
    margin-right: 21px;
  }

  .guest-list-social {
    max-height: none;
  }

  .guests-profile-content__btn {
    padding: 7.5px 12.5px;
  }

  .container-guests {
    padding-bottom: 55px;
  }

  .container-playlists {
    padding-top: 15px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .playlist-genre {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
  }

  .container-playlists {
    padding-top: 10px;
  }

  .playlist-genre {
    margin-bottom: 6px;
  }

  .advertisement-img-new {
    background-image: url(../img/advertisement-new-img-320.svg);
  }

  .advertisement-block-right {
    background-position: top 90px left;
  }

  .advertisement-h2 {
    font-weight: 400;
    font-size: 36px;
    line-height: 100%
  }

  .header-menu-search {
    left: 12%;
  }

  .guests-mame-list__link {
    text-align: start;
  }

  .guests-mame-list {
    gap: 27px 120px;
    margin-left: 0;
    margin-bottom: 30px;
  }

  .guests-mame-list__item {
    flex-basis: 24%;
    padding-left: 0;
    margin-bottom: 0;
    min-width: 40px;
  }
}

@media (max-width: 350px) {
  .img-logo-tablet {
    display: none;
  }

  .img-logo-mobile {
    display: block;
  }

  .header-logo-tablet {
    padding: 9px 32px 10px 32px;
  }

  .modal-btn-320 {
    padding: 7.5px 22px;
  }

  .header-top {
    padding-top: 13px;
  }

  .header-container {
    padding: 0 32px;
  }

  .header-menu-top {
    margin-bottom: 13px;
  }

  .ether {
    padding: 19px 15px 15px 17px;
  }

  .hero-p {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
  }

  .hero-h1 {
    margin-bottom: 4px;
  }

  .hero-btn {
    padding: 17px 45px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
  }

  .hero {
    margin-bottom: 25px;
  }

  .container-podcasts {
    padding-top: 54px;
    padding-left: 18px;
    padding-right: 18px;
  }

  .podcasts-h2 {
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
  }

  .podcasts-h2 {
    margin-bottom: 19px;
  }

  .podcasts-block-img {
    background-size: 20%, 100% 100%;
  }

  .podcasts-block__time {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
  }

  .podcast-h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
  }

  .podcast-views {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
  }

  .podcasts-block-bottom {
    padding: 6px 30px 6px 32px;
  }

  .podcasts-block__name {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
  }

  .podcasts-list {
    gap: 28px;
  }

  .podcasts-btn-more {
    padding: 15px 28px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
  }

  .podcasts-list {
    margin-bottom: 29px;
  }

  .container-podcasts {
    padding-bottom: 56px;
  }

  .transfers-h2 {
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
  }

  .container-transfers {
    padding-top: 33px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .transfers-name-selector {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
  }

  .transfers-h2 {
    margin-bottom: 20px;
  }

  .transfers-name-selector {
    margin-bottom: 5px;
  }

  .transfers-block-left {
    margin-bottom: 30px;
  }

  .guests-mame-list {
    gap: 27px 65px;
    margin-left: 0;
    margin-bottom: 0;
  }

  .guests-mame-list__item {
    flex-basis: 29%;
    padding-left: 0;
    margin-bottom: 0;
  }

  .guests-mame-list__link {
    text-align: start;
  }

  .ac.is-active .ac-panel {
    padding-top: 17px;
    padding-bottom: 20px;
  }

  .playlists-list {
    gap: 31px;
  }

  .playlists-block-right {
    margin-bottom: 36px;
  }

  .playlists-info-minors {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }

  .playlists-info-minors {
    padding-top: 28px;
  }

  .container-playlists {
    margin-bottom: 50px;
  }

  .container-advertisement {
    padding-left: 18px;
    padding-right: 18px;
  }

  .advertisement-h2 {
    margin-bottom: 38px;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
  }

  .advertisement-block-left {
    margin-bottom: 34px;
  }

  .advertisement-block-right {
    background-position: top 58px left;
  }

  .advertisement-p {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
  }

  .advertisement-price-svg-320 {
    display: block;
  }

  .advertisement-price-svg {
    display: none;
  }

  .advertisement-p-bottom {
    margin-bottom: 9px;
  }

  .advertisement-btn {
    padding: 13px 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    white-space: nowrap;
    align-items: center;
  }

  .advertisement-price {
    margin-bottom: 24px;
  }

  .container-advertisement {
    padding-bottom: 54px;
  }

  .forus-h2 {
    margin-bottom: 11px;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
  }

  .forus-p-top {
    margin-bottom: 3px;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
  }

  .forus-p-bottom {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
  }

  .forus {
    padding-top: 55px;
  }

  .container-forus {
    padding-left: 33px;
    padding-right: 33px;
  }

  .forus-block-heading {
    margin-bottom: 5px;
  }

  .swiper-container {
    padding-left: 34px;
    padding-right: 15px;
  }

  .swiper-card__h3 {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
  }

  .swiper-card__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }

  .swiper-card {
    padding-top: 14px;
  }

  .swiper-card__h3 {
    margin-bottom: 3px;
  }

  .swiper-container {
    margin-bottom: 15px;
  }

  .forus-input {
    padding: 16px 0 0 23px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    border-radius: 20px;
  }

  .header-menu-search {
    left: 0;
  }

  .forus-form__message {
    min-height: 150px;
  }

  .forus-input {
    margin-bottom: 30px;
  }

  .forus-form__name,
  .forus-form__email {
    padding: 2px 0 0 23px;
    min-height: 50px;
    border-radius: 40px;
  }

  .forus-btn {
    margin-bottom: 15px;
    padding: 17px 44px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
  }

  .forus-form-checkbox {
    font-weight: 500;
    font-size: 9px;
    line-height: 9px;
  }

  .forus {
    padding-bottom: 54px;
  }

  .footer {
    padding-top: 54px;
  }

  .footer-container {
    margin-bottom: 40px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .footer-list-social {
    max-height: 36px;
  }

  .footer-block-right-list__item {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
  }

  .nav {
    display: none;
  }

  .footer-nav-320 {
    display: block;
  }

  .footer-block-right-list {
    gap: 24px 79px;
  }

  .footer-block-right-list__item {
    flex: calc(100% / 2);
  }

  .footer-copyright {
    font-weight: 400;
    font-size: 12px;
    line-height: 103.34%;
  }
}