body {
  min-width: 320px;
  font-family: "Muller", sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1400px;
  padding: 0 15px;
  margin: 0 auto;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.h1-reset,
.h2-reset {
  margin: 0;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.p-reset {
  margin: 0;
}

.flex {
  display: flex;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Light"), url(../fonts/MullerLightItalic.woff2) format("woff2"),
    url(../fonts/MullerLightItalic.woff) format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Light"), url(../fonts/MullerLight.woff2) format("woff2"),
    url(../fonts/MullerLight.woff) format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Regular"), url(../fonts/MullerRegular.woff2) format("woff2"),
    url(../fonts/MullerRegular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-RegularItalic"), url(../fonts/MullerRegularItalic.woff2) format("woff2"),
    url(../fonts/MullerRegularItalic.woff) format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Medium"), url(../fonts/MullerMedium.woff2) format("woff2"),
    url(../fonts/MullerMedium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Bold"), url(../fonts/MullerBold.woff2) format("woff2"),
    url(../fonts/MullerBold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --main-color: #121723;
  --white-color: #FFFFFF;
  --gray-color: #A1A6B4;
  --purple-color: #6D31EE;
  ---font-weight: 300;
  --Regular-font-weight: 400;
  --Medium-font-weight: 500;
  --Bold-font-weight: 700;
  --btnpadding-1030: 10px 30.5px;
  --btnpadding-2554: 25px 54px;
  --btn-border-radius-77: 77px;
  --btn-border-radius-40: 40px;
  --font-size-12: 12px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-20: 20px;
  --font-size-48: 48px;
  --font-size-60: 60px;
  --line-height-12: 12px;
  --line-height-14: 14px;
  --line-height-16: 16px;
  --line-height-20: 20px;
  --line-height-22: 22px;
  --line-height-24: 24px;
  --line-height-30: 30px;
  --line-height-32: 32px;
  --line-height-60: 60px;
  --font-style-italic: italic;
  --border-2-black: 2px solid #121723;
  --outline-2-black: 2px solid #121723;
}

.header-list-top,
.header-menu-bottom-before-content__bottom,
.modal-btn,
.podcasts-block__time,
.podcast-h3,
.transfers-h2,
.transfers-link-archive,
.transfers-h3,
.transfers-link-more,
.playlists-h2,
.playlists-card__h3 {
  color: var(--main-color);
}

.h1-modal,
.span-modal,
.btn-modal,
.hero-btn,
.guests-h2,
.quest-h3,
.guests-mame-list__link,
.advertisement-p,
.advertisement-price,
.forus-h2,
.swiper-card__h3,
.forus-btn,
.forus-form-checkbox,
.footer-block-right-list__item,
.guests-profile-content__name {
  color: var(--white-color);
}

.input-search,
.podcasts-block__name,
.podcast-views,
.transfers-name-selector,
.transfers-text-archive,
.header-menu-bottom-before-content__top,
.transfers-start-ether,
.guests-p-heading,
.guests-p-list,
.playlist-genre,
.playlists-info-minors,
.playlists-info-copyright,
.playlists-card__songs,
.forus-p-top,
.forus-p-bottom,
.swiper-card__text,
.forus-input,
.footer-copyright,
.guests-profile-content__p {
  color: var(--gray-color);
}

.link-modal,
.podcasts-btn-more {
  color: var(--purple-color);
}

.hero-btn,
.forus-btn {
  background-color: var(--purple-color);
}

.btn-modal,
.hero-btn {
  padding: var(--btnpadding-2554);
}

.playlists-info-copyright {
  font-weight: 300;
}

.h1-style-w-wawe,
.header-list-top,
.input-search,
.h1-modal,
.span-modal .link-modal,
.input-modal,
.hero-p,
.podcasts-h2,
.podcasts-block__time,
.podcast-h3,
.podcasts-block__name,
.podcast-views,
.transfers-h2,
.transfers-name-selector,
.transfers-text-archive,
.transfers-start-ether,
.transfers-link-more,
.guests-h2,
.guests-p-list,
.guests-mame-list__link,
.playlists-h2,
.playlist-genre,
.playlists-info-minors,
.playlists-card__songs,
.advertisement-h2,
.advertisement-p,
.forus-h2,
.forus-p-bottom,
.swiper-card__text,
.forus-input,
.footer-block-right-list__item,
.footer-copyright,
.guests-profile-content__p {
  font-weight: 400;
}

.modal-btn,
.btn-modal,
.hero-btn,
.podcasts-btn-more,
.transfers-link-archive,
.transfers-h3,
.quest-h3,
.playlists-card__h3,
.advertisement-price,
.advertisement-btn,
.swiper-card__h3,
.forus-btn,
.forus-form-checkbox,
.guests-profile-content__name,
.guests-profile-content__btn {
  font-weight: 500;
}

.guests-p-heading,
.forus-p-top {
  font-weight: 700;
}

.header-menu-bottom-before-content__top,
.podcasts-block__time,
.transfers-start-ether,
.playlists-card__songs,
.forus-form-checkbox {
  font-size: var(--font-size-12);
}

.header-menu-bottom-before-content__bottom {
  font-size: var(--font-size-14);
}

.input-search,
.modal-btn,
.hero-p,
.podcasts-block__name,
.podcast-views,
.transfers-name-selector,
.transfers-text-archive,
.transfers-link-archive,
.transfers-link-more,
.guests-mame-list__link,
.playlist-genre,
.playlists-info-minors,
.playlists-info-copyright,
.playlists-card__h3,
.advertisement-p,
.swiper-card__text,
.footer-block-right-list__item,
.footer-copyright,
.guests-profile-content__p,
.guests-profile-content__btn {
  font-size: var(--font-size-16);
}

.header-list-top,
.span-modal,
.link-modal,
.btn-modal,
.input-modal,
.hero-btn,
.podcast-h3,
.podcasts-btn-more,
.transfers-h3,
.guests-p-heading,
.quest-h3,
.guests-p-list,
.advertisement-btn,
.forus-p-top,
.forus-p-bottom,
.swiper-card__h3,
.forus-input,
.forus-btn,
.guests-profile-content__name {
  font-size: var(--font-size-20);
}

.h1-modal,
.podcasts-h2,
.transfers-h2,
.guests-h2,
.playlists-h2,
.advertisement-h2,
.forus-h2 {
  font-size: var(--font-size-48);
}

.h1-style-radio,
.h1-style-w-wawe {
  font-size: var(--font-size-60);
}

.header-menu-bottom-before-content__top,
.podcasts-block__time,
.transfers-start-ether,
.playlists-card__songs,
.forus-form-checkbox {
  line-height: var(--line-height-12);
}

.header-menu-bottom-before-content__bottom {
  line-height: var(--line-height-14);
}

.input-search,
.modal-btn,
.podcasts-block__name,
.podcast-views,
.transfers-name-selector,
.transfers-link-archive,
.transfers-link-more,
.guests-mame-list__link,
.playlist-genre,
.playlists-card__h3,
.footer-block-right-list__item,
.footer-copyright,
.guests-profile-content__btn {
  line-height: var(--line-height-16);
}

.header-list-top,
.span-modal,
.btn-modal,
.input-modal,
.hero-btn,
.podcast-h3,
.podcasts-btn-more,
.transfers-h3,
.quest-h3,
.advertisement-btn,
.swiper-card__h3,
.forus-input,
.forus-btn,
.guests-profile-content__name {
  line-height: var(--line-height-20);
}

.playlists-info-minors,
.playlists-info-copyright {
  line-height: var(--line-height-22);
}

.hero-p,
.transfers-text-archive,
.swiper-card__text {
  line-height: var(--line-height-24);
}

.guests-p-heading,
.forus-p-top {
  line-height: var(--line-height-30);
}

.guests-p-list,
.forus-p-bottom {
  line-height: var(--line-height-32);
}

.h1-modal,
.podcasts-h2,
.transfers-h2,
.guests-h2,
.playlists-h2,
.advertisement-h2,
.forus-h2 {
  line-height: var(--line-height-48);
}

.h1-style-radio,
.h1-style-w-wawe {
  line-height: var(--line-height-60);
}

.transfers-link-more,
.h1-style-w-wawe {
  font-style: italic;
}

.playlists-info-copyright {
  font-style: italic;
}

.modal-btn {
  padding: var(--btnpadding-1030);
}

.btn-modal,
.hero-btn,
.podcasts-btn-more {
  border-radius: var(--btn-border-radius-40);
}

.modal-btn,
.transfers-link-archive {
  border-radius: var(--btn-border-radius-77)
}

.transfers-link-archive {
  outline: var(--outline-2-black);
}

/* header */
.header {
  margin-bottom: 20px;
}

.header-top {
  padding-top: 20px;
}

.header-menu-top {
  margin-bottom: 18px;
  justify-content: space-between;
  align-items: center;
}

.header-btn {
  display: flex;
  align-items: center;
}

.header-list-top__item {
  margin-right: 58.75px;
}

.header-btn-search {
  margin-right: 29px;
  width: 24px;
  height: 24px;
  transition: 0.3s;
}

.img-logo {
  margin-right: 64px;
}

.input-search {
  border: none;
  border-bottom: 1px solid #6D31EE;
}

.header-menu-search {
  display: none;
}

.header-menu-search {
  display: block;
  position: fixed;
  top: 0;
  left: 50%;
  align-items: center;
  width: 308px;
  transform: translateY(-120%);
  transition: transform 0.5s ease-in-out;
}

.search--visible {
  transform: none;
}

.modal-btn {
  border: 2px solid #121723;
  background: #FFFFFF;
  transition: 0.3s;
}

/* header-bottom */
.header-menu-bottom {
  justify-content: space-between;
  align-items: center;
}

.header-top,
.header-bottom {
  border-bottom: 1px solid #E6E8EC;
}

.ether-play {
  max-width: 350px;
  width: 100%;
}

.header-menu-bottom-before, .header-menu-bottom-now {
  position: relative;
  width: 100%;
  padding: 3px 0px 1px 42px;
}

.header-menu-bottom-before {
  border-left: 1px solid #E6E8EC;
  border-right: 1px solid #E6E8EC;
}

.header-menu-bottom-now {
  border-right: 1px solid #E6E8EC;
}

.header-menu-bottom-before-content {
  flex-direction: column;
  padding: 1px 0px 3px 11px;
}

.header-menu-bottom-before-content__top {
  display: block;
  margin-bottom: 5px;
}

.header-img-play {
  margin-right: 10px;
}

.header-btn-play:hover .header-img-play-now__svg {
  fill: #6D31EE;
  transition: fill 0.3s ease-in-out;
}

.header-btn-play:hover .header-img-play__svg {
  fill: #6D31EE;
  transition: fill 0.3s ease-in-out;
}

.header-btn-play:focus .header-img-play-now__svg {
  fill: #AA9DFA;
  transition: fill 0.3s ease-in-out;
}

.header-btn-play:focus .header-img-play__svg {
  fill: #AA9DFA;
  transition: fill 0.3s ease-in-out;
}

.header-btn-play:focus {
  outline: none;
  transition: outline 0.3s ease-in-out;
}

.header-btn-play:active .header-img-play-now__svg {
  fill: #4F28A5;
  transition: fill 0.3s ease-in-out;
}

.header-btn-play:active .header-img-play__svg {
  fill: #4F28A5;
  transition: fill 0.3s ease-in-out;
}

.header-menu-bottom-before-content__bottom {
  letter-spacing: 1.2px;
}

.header-list-bottom__item:not(:last-child) {
  margin-right: 53px;
}

.header-nav-bottom {
  margin-right: 20px;
}

.header-img-12 {
  background-image: url(../img/header-bottom-12.svg);
  background-size: cover;
  width: 46px;
  height: 60px;
}

/* modal */
.container-modal {
  max-width: 1920px;
}

.modal {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: 1000;
}

.modal-window {
  position: absolute;
  top: 80px;
  display: flex;
  flex-direction: column;
  padding: 60px 60px 63.67px 60px;
  justify-content: center;
  max-width: 824px;
  width: 100%;
  background-color: #121723;
}

.modal {
  display: none;
}

.modal--visible {
  display: flex;
}

.h1-modal {
  margin-bottom: 15px;
}

.input-modal {
  margin-bottom: 28px;
  padding: 25px 0 25px 32px;
  border: 1px solid #FFFFFF;
  border-radius: 40px;
  width: 526px;
  background: #121723;
  color: #A1A6B4;
  cursor: pointer;
  }

.input-modal:hover {
  background-color: #292E39;
}

.btn-modal {
  background: #6D31EE;
  max-width: 167px;
}

.btn-modal:hover {
  background-color: #AA9DFA;
  transition: background-color 0.3s ease-in-out;
}

.btn-modal:focus {
  background-color: #AA9DFA;
  outline: 2px solid #4F28A5;
  transition: background-color 0.3s ease-in-out, outline 0.3s ease-in-out;
}

.btn-modal:active {
  background-color: #4F28A5;
  outline: none;
  transition: background-color 0.3s ease-in-out, outline 0.3s ease-in-out;
}

.link-modal:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}

.span-modal-border {
  padding-top: 30px;
  margin-bottom: 30px;
  border-top: 1px solid rgba(230, 232, 236, 0.4);
}

.modal-list-social__link {
  cursor: pointer;
}

.modal-list-social__link:hover {
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}

.btn-closed-modal:hover {
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}

.modal-list-social__link:not(:last-child) {
  margin-right: 46px;
}

.btn-closed-modal {
  position: absolute;
  top: 30px;
  right: 30px;
}

.modal-text {
  margin-bottom: 28px;
}

.btn-modal {
  margin-bottom: 29px;
}

.link-modal {
  cursor: pointer;
}

.modal-list-social__item {
  margin-right: 43px;
}

.header-btn-search:hover .header-searc-svg {
  stroke: #AA9DFA;
  transition: stroke 0.3s ease-in-out;
}

.header-btn-search:focus .header-searc-svg {
  stroke: #AA9DFA;
  transition: stroke 0.3s ease-in-out;
}

.header-btn-search:focus {
  outline: none;
}

.header-btn-search:active .header-searc-svg {
  stroke: #4F28A5;
  transition: stroke 0.3s ease-in-out;
}

.modal-btn:hover {
  color: #FFFFFF;
  background-color: #121723;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.modal-btn:focus {
  color: #121723;
  background-color: #AA9DFA;
  outline-offset: 0;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.modal-btn:active {
  color: #FFFFFF;
  background: #4F28A5;
  outline: none;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.header-list-bottom__item:hover,
.header-list-top__item:hover {
  color: #6D31EE;
  transition: color 0.3s ease-in-out;
}

.header-bottom__link:focus,
.header__link:focus {
  padding: 3px 5.5px;
  color: #FFFFFF;
  background-color: #AA9DFA;
  outline: none;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.header-bottom__link:active,
.header__link:active {
  color: #4F28A5;
  background-color: #ffffff;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.header-list-top__item {
  transition: 0.3s;
}

/* header button pause */
.header-btn-play,
.header-btn-pause {
  width: 20px;
  height: 20px;
  transition: 0.3s;
}

.header-btn-play {
  position: absolute;
  left: 13px;
  top: 10px;
}

.header-btn-block {
  align-items: center;
}

.header-img-pause {
  display: none;
}

.header-img-pause-now {
  display: none;
}

.header-img-pause--visible {
  display: block;
}

.header-img-play-now--none {
  display: none;
}

.header-img-play--none {
  display: none;
}

/* hero */

.hero {
  margin-bottom: 40px;
}

.ether {
  position: relative;
  padding-top: 75px;
  padding-bottom: 54px;
  background-image: url(../img/hero-microphone.svg);
  background-repeat: no-repeat;
  background-position: right center;
}

.hero-h1 {
  margin-bottom: 14px;
}

.hero-p {
  margin-bottom: 45px;
  max-width: 635px;
}

.hero-img {
  position: absolute;
  top: 10px;
  right: 0;
}

.hero-btn {
  transition: 0.3s;
}

.hero-btn:hover {
  background-color: #AA9DFA;
  transition: background-color 0.3s ease-in-out;
}

.hero-btn:focus {
  background-color: #AA9DFA;
  outline: 2px solid #4F28A5;
  transition: background-color 0.3s ease-in-out, outline 0.3s ease-in-out;
}

.hero-btn:active {
  background-color: #4F28A5;
  outline: none;
  transition: background-color 0.3s ease-in-out, outline 0.3s ease-in-out;
}


/* podcasts */

.podcasts {
  background-color: #E6E8EC;
  margin-bottom: 40px;
}

.container-podcasts {
  padding-bottom: 90px;
}

.block-podcast {
  width: 100%;
}

.podcasts-block {
  /* position: relative; */
  /* padding: 24px 90px 6px 30px; */
  /* flex-basis: 79%; */
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background: #ffffff;
  /* max-height: 140px; */
}

.podcasts-block-top {
  justify-content: space-between;
  padding: 24px 33px 24px 30px;
}

.podcasts-block-bottom {
  padding: 9px 30px 6px 30px;
  border-top: 1px solid #E6E8EC;
}

.podcast-list__actions:not(:last-child) {
  /* margin-right: 30px; */
}

.podcasts-block-1 {
  background: url(../img/podcasts-img-data-1.jpg), #ffffff url(../img/podcasts-img-01.jpg);
  }

.podcasts-block-2 {
  background: url(../img/podcasts-img-data-2.jpg), #ffffff url(../img/podcasts-img-02.jpg);
}

.podcasts-block-3 {
  background: url(../img/podcasts-img-data-3.jpg), #ffffff url(../img/podcasts-img-03.jpg);
}

.podcasts-block-4 {
  background: url(../img/podcasts-img-data-4.jpg), #ffffff url(../img/podcasts-img-04.jpg);
}

.podcasts-block-5 {
  background: url(../img/podcasts-img-data-5.jpg), #ffffff url(../img/podcasts-img-05.jpg);
}

.podcasts-block-6 {
  background: url(../img/podcasts-img-data-6.jpg), #ffffff url(../img/podcasts-img-06.jpg);
}

.podcasts-block-7 {
  background: url(../img/podcasts-img-data-7.jpg), #ffffff url(../img/podcasts-img-07.jpg);
}

.podcasts-block-8 {
  background: url(../img/podcasts-img-data-8.jpg), #ffffff url(../img/podcasts-img-08.jpg);
}

.podcasts-block-img {
  background-position: left bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: 50%, 100% 100%;
  flex-basis: 21%;
  flex-shrink: 0;
}

.podcasts-h2 {
  padding-top: 94px;
  margin-bottom: 25px;
}

.podcasts-block__time {
  display: block;
  margin-bottom: 8px;
}

.podcast-h3 {
  margin-bottom: 4px;
}

.podcasts-block__name {
  display: block;
}

.podcast-btn-play {
  flex-shrink: 0;
  transition: 0.3s;
  /* position: absolute; */
  /* top: 30px; */
  /* right: 30px; */
}

.podcasts-block-top__left {
  margin-right: 30px;
}

.podcasts-list {
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}

.podcast-list__item:not(:last-child) {
  margin-right: 30px;
}

.podcast-btns:not(:last-child) {
  margin-right: 3px;
}

.podcasts-list__item {
  max-width: 100%;
  flex-basis: 48.6%;
  margin-bottom: 30px;
}

.podcasts-btn-more {
  display: block;
  margin: 0 auto;
  padding: 24px 52px;
  outline: 2px solid #6D31EE;
  transition: 0.3s;
}

.podcasts-list__item:nth-child(n + 9) {
  display: none;
}

.podcasts-btn-more--hidden {
  display: none;
}

.podcasts-list__item.podcasts-list__item--visible {
  display: block;
}

.podcasts-btn-more:hover {
  background-color: #6D31EE;
  color: #FFFFFF;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.podcasts-btn-more:focus {
  background-color: #AA9DFA;
  color: #FFFFFF;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.podcasts-btn-more:active {
  background-color: #4F28A5;
  color: #FFFFFF;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.podcast-list__item {
  cursor: pointer;
}

.podcast-list__item:hover path,
.podcast-list__item:hover .podcast-views {
  fill: #6D31EE;
  color: #6D31EE;
}

.podcast-list__item-like:hover path {
  fill: #ffffff;
  stroke: #6D31EE;
}

.podcast-list__item:focus {
  background: #AA9DFA;
  outline: none;
}

.podcast-list__item:focus path {
  fill: #FFFFFF;
}

.podcast-list__item:focus .podcast-views {
  color: #FFFFFF;
}

.podcast-list__item-like:focus path {
  stroke: #ffffff;
  fill: #AA9DFA;
}

.podcast-list__item:active {
  fill: #4F28A5;
  background: #FFFFFF;
}

.podcast-list__item:active path {
  fill: #4F28A5;
}

.podcast-list__item-like:active path {
  fill: #4F28A5;
  stroke: #4F28A5;
}

.podcast-list__item:active .podcast-views {
  color: #4F28A5;
}

.podcast-list__item:active .podcast-btns {
  color: #4F28A5;
}

.podcast-btns:focus path {
  stroke: #6D31EE;
}

.podcast-btns:focus {
  outline: none;
}

.podcast-btns:active path {
  fill: #6D31EE;
}

.podcast-btn-play:hover path {
  fill: #6D31EE;
}

.podcast-btn-play:hover circle {
  stroke: #6D31EE;
}

.podcast-btn-play:focus path {
  fill: #AA9DFA;
}

.podcast-btn-play:focus circle {
  stroke: #AA9DFA;
}

.podcast-btn-play:focus {
  outline: none;
}

.podcast-btn-play:active svg {
  fill: #4F28A5;
}

.podcast-btn-play:active path {
  fill: #ffffff;
}

.podcast-btn-play:active circle {
  stroke: #4F28A5;
}

.podcast-img-pause {
  display: none;
}

.podcast-img-pause-visible {
  display: block;
}

.podcast-img-play-none {
  display: none;
}

.podcast-list {
  /* position: absolute; */
  /* bottom: 6px; */
}

/* transfers */

.transfers {
  margin-bottom: 62px;
}

.container-transfers {
  padding-top: 72px;
}

.transfers-blocks {
  justify-content: space-between;
}

.transfers-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px 15px;
  flex-basis: 100%;
  /* border: 1px solid #E6E8EC; */
}

.transfers-block-left {
  /* flex-basis: 33%; */
  max-width: 255px;
  margin-right: 30px;
  padding-bottom: 30px;
  flex-direction: column;
  align-items: flex-start;
  background-image: url(../img/transfers-microphone.jpg);
  background-repeat: no-repeat;
  background-position: left bottom 157px;
  width: 100%;
 }

 .transfers-card__top {
  flex-direction: column;
  /* justify-content: space-between; */
 }

.transfers-block-right {
  /* flex-basis: 74.5%; */
}

.transfers-list {
  flex-wrap: wrap;
  gap: 30px;
  /* margin-left: -30px; */
}

.transfers-list__item {
  flex-direction: column;
  flex: calc((100% / 3) - 60px);
  /* flex-basis: 30.9%; */
  /* margin-bottom: 30px; */
  /* margin-right: 30px; */
  /* padding-left: 30px; */
  font-size: 0;
  border: 1px solid #E6E8EC
}

.transfers-list__item:nth-child(3n) {
  /* margin-right: 0; */
}

.transfers-link-archive {
  padding: 10px 54px;
  margin-bottom: 12px;
  cursor: pointer;
  transition: 0.3s;
}

.transfers-link-archive:hover {
  background-color: #121723;
  color: #ffffff;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.transfers-link-archive:focus {
  background-color: #AA9DFA;
  color: #121723;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.transfers-link-archive:active {
  background-color: #4F28A5;
  color: #ffffff;
  outline: none;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.transfers-h2 {
  margin-top: -18px;
  margin-bottom: 8px;
}

.transfers-select {
  /* margin-bottom: auto;
  padding: 12px 0 12px 12px;
  background: #E6E8EC;
  border-radius: 10px;
  max-width: 255px;
  width: 100%; */
}

.choices {
  margin-bottom: auto;
  /* padding: 12px 0 12px 12px; */
  /* border-radius: 10px; */
  max-width: 255px;
  width: 100%;
}

.choices__item {
  /* padding: 12px 0 12px 12px; */
}

.transfers-select__option {
  /* padding: 12px 0 12px 12px; */
}

.choices__inner {
  padding: 12px 0 12px 12px;
  background: #E6E8EC;
  border: none;
  transition: 0.3s;
}

.choices__list--single {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #121723;
}

.choices__list--dropdown .choices__item--selectable, .choices__list[aria-expanded] .choices__item--selectable {
  background: #ffffff;
}

.choices__inner:hover {
  background: #F5F6F7;
}

.is-focused .choices__inner {
  background: #E6E8EC;
  border: 1px solid #6D31EE;
}

.is-open .choices__inner {
  border: none;
  border-radius: 10px; 
}

.choices__list--dropdown .choices__item,
.choices__list[aria-expanded] .choices__item:nth-child(1) {
  padding-top: 40px;
}

.choices__inner:active {
  background: #D2D5DD;
}

.choices__list--dropdown .choices__item, .choices__list[aria-expanded] .choices__item:hover {
  color: #121723;
  border: none;
  transition: color 0.4s ease-in-out;
}

.choices__list--dropdown .choices__item, .choices__list[aria-expanded] .choices__item:hover:not(:focus) {
  background: #F5F6F7;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted, .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  background-color: #AA9DFA;
  color: #121723;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.choices__list--single {
  padding: 0;
}

.transfers-name-selector {
  margin-bottom: 10px;
}

.transfers-h3 {
  margin-bottom: 4px;
}

.transfers-start-ether {
  margin-bottom: 20px;
}

.transfers-link-more {
  position: relative;
  cursor: pointer;
}

.transfers-link-more__svg {
  width: 21px;
}

.transfers-link-more:hover {
  color: #6D31EE;
  transition: color 0.3s ease-in-out;
}

.transfers-link-more:hover path {
  fill: #6D31EE;
  transition: fill 0.3s ease-in-out;
}

.transfers-link-more:hover svg {
  width: 28px;
  transition: width 0.3s ease-in-out;
}

.transfers-link-more:focus {
  background-color: #AA9DFA;
  color: #ffffff;
  outline: none;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.transfers-link-more:focus path {
  fill: #ffffff;
  transition: fill 0.3s ease-in-out;
}

.transfers-link-more:focus svg {
  width: 28px;
  transition: fill 0.3s ease-in-out;
}

.transfers-link-more:active {
  color: #4F28A5;
  background-color: #ffffff;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.transfers-link-more:active path {
  fill: #4F28A5;
  transition: fill 0.3s ease-in-out;
}



/* guests */
.guests {
  background-color: #121723;
  margin-bottom: 40px;
}

.container-guests {
  padding-top: 88px;
  padding-bottom: 94px;
}

.accordion-list {
  margin-right: 30px;
  flex-basis: 66%;
  max-width: 730px;
}

.guests-p-list {
  max-width: 825px;
}

.quests-section__item {
  max-width: 730px;
}

.guests-mame-list {
  flex-wrap: wrap;
  margin-left: -30px;
}

.guests-mame-list__item {
  flex-basis: 25%;
  padding-left: 30px;
  margin-bottom: 13px;
  /* min-width: 190px; */
}

.guests-profile {
  background-repeat: no-repeat;
  font-size: 0;
  flex-basis: 30%;
}

.guests-profile-content {
  padding-top: 14px;
}

.guest-list-social__item {
  margin-right: 34px;
  cursor: pointer;
}

.guest-list-social__item:hover {
  opacity: 0.5;
}

.guest-list-social {
  margin-bottom: 12px;
  max-height: 24px;
}

.quests-bloks {
  justify-content: space-between;
}

.guests-h2 {
  margin-bottom: 12px;
}

.guests-p-heading {
  margin-bottom: 8px;
}

.guests-p-list {
  margin-bottom: 50px;
}

/* .accordion__content {
  padding: 30px 0 17px 0;
  border-top: 1px solid #AA9DFA;
}

.quests-section__item {
  padding: 23px 0 0 0;
  border-top: 1px solid #AA9DFA;
  border-bottom: 1px solid #AA9DFA;
} */

.quests-section__item {
  cursor: pointer;
}

.accordion__content {
  display: none;
}

.open .accordion__content {
  display: block;
}

.quests-section__item {
  position: relative;
}

.accordion__control {
  padding-bottom: 23px;
  justify-content: space-between;
  align-items: center;
}

/* .accordion-icon {
  content: "";
  position: relative;
  display: inline-block;
  height: 42px;
  width: 42px;
  border: 2px solid #666666;
  border-radius: 100%;
} */

/* .accordion-icon::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 11px;
  transform: rotate(45deg);
  height: 16px;
  width: 16px;
  border-bottom: 2px solid #666666;
  border-right: 2px solid #666666;
}

.open .accordion-icon::before {
  top: 14px;
  transform-origin: center;
  transform: rotate(-135deg);
  transition: transform 0.4s ease-in-out;
}

.accordion-icon::before {
  top: 7px;
  transform: rotate(45deg);
  transition: transform 0.4s ease-in-out;
} */

.guests-profile-content__p {
  line-height: 180%;
}

.guests-profile-content__name {
  display: block;
  margin-bottom: 8px;
}

.guests-profile-content__p {
  margin-bottom: 30px;
}

.guests-profile-content__btn {
  padding: 12px 19.5px;
  border: 2px solid #AA9DFA;
  border-radius: 77px;
  color: #AA9DFA;
}

.guests-profile-content__btn:hover {
  color: #FFFFFF;
  background-color: #AA9DFA;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.guests-profile-content__btn:focus {
  background-color: #6D31EE;
  border-color: #6D31EE;
  color: #ffffff;
  outline: none;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.guests-profile-content__btn:active {
  background-color: #4F28A5;
  border-color: #4F28A5;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.guests-profile-img {
  width: 100%;
}

.guests-mame-list__item {
  display: flex;
  flex-wrap: nowrap;
}

/* accordion */

.accordion-container {
  margin-right: 30px;
  flex-basis: 70%;
}

.ac {
  margin: 0;
  /* max-width: 730px; */
  background: #121723;
  border: none;
  border-top: 1px solid #AA9DFA;
  border-bottom: 1px solid #AA9DFA;
}

.ac .ac-trigger::after {
  /* text-align: center; */
  /* width: 42px; */
  /* right: 0; */
}

.ac-trigger:hover {
  color: #AA9DFA;
  transition: color 0.3s ease-in-out;
}

.ac-trigger:hover.ac-trigger::after {
  border-color: #AA9DFA;
  transition: border-color 0.3s ease-in-out;
}

.ac-trigger:hover.ac-trigger::before {
  border-color: #AA9DFA;
  transition: border-color 0.3s ease-in-out;
}

.ac-trigger:focus {
  color: #ffffff;
  background-color: #292E39;
  outline: none;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.ac-trigger:focus.ac-trigger::after {
  border-color: #A1A6B4;
  transition: border-color 0.3s ease-in-out;
}

.ac-trigger:focus.ac-trigger::before {
  border-color: #A1A6B4;
  transition: border-color 0.3s ease-in-out;
}

.ac-trigger:active {
  color: #AA9DFA;
  background-color: #121723;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.ac-trigger:active.ac-trigger::after {
  background-color: #AA9DFA;
  transition: background-color 0.3s ease-in-out;
}

.ac-trigger:active.ac-trigger::before {
  border-color: #ffffff;
  transition: border-color 0.3s ease-in-out;
}

.ac-panel {
  border-top: 1px solid #AA9DFA;
}

.ac.is-active .ac-panel {
  padding: 30px 0 14px 0;
}

.guests-mame-list__link {
  cursor: pointer;
}

.guests-profile {
  display: none;
}

/* .guests-mame-list__link--active {
  display: block;
} */

.guests-profile--active {
  display: block;
}

.guests-mame-list__link:focus {
  outline: none;
  color: #AA9DFA;
}

/* playlists */

.container-playlists {
  padding-top: 54px;
  margin-bottom: 30px;
}

.playlists-form {
  flex-direction: column;
  padding-bottom: 20px;
  border-bottom: 1px solid #D2D5DD;
}

/* моя радиокнопка */

.playlists-block-left {
  max-width: 350px;
}

.playlists-form-radio:not(:last-child) {
  margin-bottom: 20px;
}

.playlists-form-radio input[type=radio] {
  position: absolute;
  width: 0;
  height: 0;
  border: none;
  opacity: 0;
}

.playlists-form-radio label {
  cursor: pointer;
  position: relative;
  padding-left: 40px;
  margin-right: 0;
  line-height: 26px;
}

.playlists-form-radio label::before {
  content: "";
  width: 26px;
  height: 26px;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 100%;
  border: 2px solid #A1A6B4;
}

.playlists-form-radio label::after {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  left: 7px;
  bottom: 7px;
  border-radius: 100%;
  background: #ffffff;
}

/* Checked */
.playlists-form-radio input[type=radio]:checked+label::after {
  background-color: #ffffff;
  transition: background-color 0.3s ease-in-out;
}

.playlists-form-radio input[type=radio]:checked+label::before {
  border: 2px solid #6D31EE;
  background-color: #6D31EE;
  transition: border 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.playlists-form-radio input[type=radio]:not(:checked)+label::after {
  background-color: #ffffff;
  transition: background-color 0.3s ease-in-out;
}

.playlists-form-radio input[type=radio]:not(:checked)+label::before {
  border: 2px solid #A1A6B4;
  transition: border 0.3s ease-in-out;
}

.playlists-form-radio input[type=radio]:hover+label::before {
  border-color: #6D31EE;
  transition: border-color 0.3s ease-in-out;
}

.playlists-form-radio:focus input[type=radio]:not(:checked)+label::after,
.playlists-form-radio:focus input[type=radio]:not(:checked)+label::before {
  background-color: #D2D5DD;
  transition: background-color 0.3s ease-in-out;
}

.playlists-form-radio:focus input[type=radio]:not(:checked)+label::before {
  border-color: #6D31EE;
  transition: border-color 0.3s ease-in-out;
}

.playlists-form-radio:focus {
  outline: none;
}


.playlists-form-radio:focus label::after {
  /* background: green; */
}

.playlists-form-radio input[type=radio]:focus+label::before {
  /* border-color: #6D31EE; */
}



.playlists-label {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #121723;
}

.playlists-h2 {
  margin-bottom: 12px;
}

.playlist-genre {
  margin-bottom: 10px;
}

.playlists-info-minors {
  padding-top: 38px;
  width: 350px;
}

.playlists-info-copyright {
  margin-bottom: 6px;
}

/* playlists right */
.playlists-list {
  flex-wrap: wrap;
  gap: 30px;
  /* margin-left: -30px; */
}

.playlists-list__item {
  /* flex-basis: 21%; */
  flex-direction: column;
  flex: calc((100% / 4) - 30px);
  /* padding-left: 30px; */
  /* margin-bottom: 30px; */
  /* margin-right: 30px; */
  font-size: 0;
  outline: 1px solid #E6E8EC;
}

.playlists-list__item:nth-child(4n) {
  /* margin-right: 0; */
}

.playlists-block-left {
  margin-right: 30px;
}

.playlists-card {
  padding: 16px 2px 16px 16px;
  /* border: 1px solid #E6E8EC; */
}

.playlists-card__h3 {
  margin-bottom: 4px;
}

/* advertisement */

.advertisement {
  background: #292E39;
}

.container-advertisement {
  padding-top: 94px;
  padding-bottom: 133px;
}

.advertisement-content {
  justify-content: space-between;
}

.advertisement-block-right {
  flex-basis: 40%;
}

.advertisement-block-left {
  margin-right: 20px;
  padding-top: 8px;
  position: relative;
}

.advertisement-img-new {
  position: absolute;
  background-image: url(../img/advertisement-new-img.svg);
  background-repeat: no-repeat;
  left: 0;
  width: 160px;
  height: 160px;
}

.advertisement-h2 {
  color: #F0D288;
  margin-bottom: 19px;
}

.advertisement-p {
  line-height: 180%;
}

.advertisement-svg-wave {
  margin-bottom: 19px;
}

.advertisement-p-top {
  margin-bottom: 12px;
}

.advertisement-p-bottom {
  margin-bottom: 30px;
}

.advertisement-price {
  display: block;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 30px
}

.advertisement-btn {
  display: inline-flex;
  align-items: flex-start;
  padding: 25px 13.5px;
  color: #F0D288;
  border: 2px solid #F0D288;
  border-radius: 100px;
  transition: 0.3s;
}

.advertisement-btn__svg {
  margin-right: 8px;
}

.advertisement-btn:hover {
  background-color: #F0D288;
  color: #121723;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.advertisement-btn:hover .advertisement-svg-background {
  fill: #121723;
  transition: fill 0.3s ease-in-out;
}

.advertisement-btn:hover .advertisement-svg-line {
  fill: #F0D288;
  transition: fill 0.3s ease-in-out;
}

.advertisement-btn:focus {
  background-color: #BB973E;
  transition: background-color 0.3s ease-in-out;
}

.advertisement-btn:focus .advertisement-svg-background {
  fill: #121723;
  transition: fill 0.3s ease-in-out;
}

.advertisement-btn:focus .advertisement-svg-line {
  fill: #F0D288;
  transition: fill 0.3s ease-in-out;
}

.advertisement-btn:active {
  background-color: #BB973E;
  border-color: #BB973E;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.advertisement-btn:active .advertisement-svg-background {
  fill: #121723;
  transition: fill 0.3s ease-in-out;
}

.advertisement-btn:active .advertisement-svg-line {
  fill: #BB973E;
  transition: fill 0.3s ease-in-out;
}


/* forus */
.forus {
  padding-top: 94px;
  background: #121723;
}

.forus-p-bottom {
  max-width: 634px;
}

.forus-img-dawn {
  padding-top: 18px;
}

.forus-h2 {
  margin-bottom: 12px;
}

.forus-p-top {
  margin-bottom: 8px;
}

.forus-block-heading {
  margin-bottom: 30px;
}

.forus-block-heading__text {
  margin-right: 30px;
}

.forus-img-spiral {
  margin-right: 30px;
}

.swiper-card__h3 {
  margin-bottom: 8px;
}

.swiper-card {
  padding-top: 30px;
}

.forus-swiper {
  margin-bottom: 30px;
}

.swiper-slide {
  font-size: 0;
}

.swiper-slide__img {
  width: 100%;
}

/* btn swiper */

.swiper-btn {
  position: relative;
  top: -230px;
}

.swiper-button-prev {
  left: -50px;
}

.swiper-button-next {
  right: -50px;
}

/* forus form */

.container-forus {
  padding-bottom: 60px;
}

.forus-form {
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 920px;
}

.forus-input {
  margin-bottom: 30px;
  border: 1px solid #FFFFFF;
  background: #121723;
  cursor: pointer;
  transition: 0.3s;
}

.forus-input:hover {
  background-color: #292E39;
  transition: background-color 0.3s ease-in-out;
}

.forus-input:focus {
  border-color: #A1A6B4;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

.forus-input:active {
  border-color: #ffffff;
  transition: border-color 0.3s ease-in-out;
}

.forus-input:active {
  color: #ffffff;
  transition: color 0.3s ease-in-out;
}

.forus-form__message {
  padding: 30px 0 0 32px;
  border-radius: 30px;
  width: 100%;
}

.forus-form__name, .forus-form__email {
  padding: 25px 0 25px 32px;
  border-radius: 40px;
  width: 100%;
}

.input-div-name {
  margin-right: 30px;
}

.forus-btn {
  margin-bottom: 30px;
  padding: 25px 54px;
  border-radius: 40px;
  transition: 0.3s;
}

.input-checkbox {
  margin-right: 8px;
}

.input-div {
  position: relative;
  flex-direction: column-reverse;
  width: 100%;
}

/* валидация */
.just-validate-error-label {
  position: absolute;
  margin-bottom: 78px;
  padding-left: 32px;
}

.just-validate-error-field {
  border-color: #D52B1E;
}

.forus-form-checkbox {
  position: relative;
  cursor: pointer;
  padding-left: 22px;
}

.input-checkbox {
  display: none;
}

.input-checkbox + span {
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  }

.input-checkbox + span::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 4px;
  width: 4px;
  height: 7px;
  border-right: 2px solid #AA9DFA;
  border-bottom: 2px solid #AA9DFA;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.input-checkbox:checked + span::before {
  opacity: 1;
}

.input-checkbox + span::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid #FFFFFF;
}

.forus-btn {
  display: block;
}

.forus-btn:hover {
  background-color: #AA9DFA;
  transition: background-color 0.3s ease-in-out;
}

.forus-btn:focus {
  background-color: #AA9DFA;
  outline: 2px solid #4F28A5;
  transition: background-color 0.3s ease-in-out, outline 0.3s ease-in-out;
}

.forus-btn:active {
  background-color: #4F28A5;
  outline: none;
  transition: background-color 0.3s ease-in-out, outline 0.3s ease-in-out;
}

/* footer */
.footer {
  padding-top: 94px;
  padding-bottom: 10px;
  background: #292E39;
}

.footer-svg {
  background-image: url(../img/footer-svg-line.svg);
  margin-bottom: 10px;
  height: 12px;
}

.footer-container {
  justify-content: space-between;
  margin-bottom: 94px;
}

.footer-list-social__item:not(:last-child) {
  margin-right: 25px;
}

.footer-list-social {
  max-height: 24px;
}

.footer-list-social__item {
  cursor: pointer;
  transition: fill 0.3s;
}

.footer-list-social__item:hover path {
  fill: #6D31EE;
  transition: fill 0.3s ease-in-out;
}

.footer-list-social__item:focus path {
  fill: #AA9DFA;
  transition: fill 0.3s ease-in-out;
}

.footer-list-social__item:focus {
  outline: none;
}

.footer-list-social__item:active path {
  fill: #4F28A5;
  transition: fill 0.3s ease-in-out;
}

.header-logo {
  margin-bottom: 22px;
}

.footer-block-right-list {
  flex-wrap: wrap;
}

.footer-block-right-list__item {
  flex-basis: 33.3%;
  margin-bottom: 20px;
  cursor: pointer;
}

.footer-block-right-list__link {
  transition: 0.3s;
}

.footer-block-right-list__link:hover {
  color: #6D31EE;
  transition: color 0.3s ease-in-out;
}

.footer-block-right-list__link:focus {
  color: #ffffff;
  outline: none;
  background-color: #AA9DFA;
}

.footer-block-right-list__link:active {
  color: #4F28A5;
  background-color: #292E39;
}

.footer-copyright {
  display: block;
  text-align: center;
}

.footer-svg-line {
  /* text-align: center; */
  /* width: 100%; */
}



